[build]
builder = "dockerfile"
dockerfilePath = "Dockerfile"

[deploy]
healthcheckPath = "/api/v1/health"
healthcheckTimeout = 120
startCommand = "./scripts/entrypoint.sh"
restartPolicyType = "on_failure"
restartPolicyMaxRetries = 3
numReplicas = 1
